-content_for :head do
  :javascript
    $(function(){
      $('#new_fridge').submit(function() {
        $('#loading').show().fixedCenter();
      });
    });

#fb-root
:javascript
  window.fbAsyncInit = function() {
    FB.init({
      appId  : '#{Facebook::CONFIG['app_id']}',
      status : true, // check login status
      cookie : true, // enable cookies to allow the server to access the session
      xfbml  : true  // parse XFBML
    });

    FB.getLoginStatus(function(response) {
      if (response.session) {
        for (p in response.session) {
          console.log(p + " = " + response.session[p])
        }
      } else {
        // no user session available, someone you dont know
      }
    });
  };

  (function() {
    var e = document.createElement('script');
    e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
    e.async = true;
    document.getElementById('fb-root').appendChild(e);
  }());

#loading
  =image_tag 'loading.gif'
  %p Uploading a picture of your fridge for you to share...

= form_for @fridge, :html => { :multipart => true } do |f|
  -if @fridge.errors.any?
    #errorExplanation
      %h3= "#{pluralize(@fridge.errors.count, "error")} prohibited this fridge from being saved:"
      %ul
        - @fridge.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :photo
    = f.file_field :photo
  .actions
    = f.submit 'Upload'
