= form_for @fridge, :html => { :multipart => true } do |f|
  -if @fridge.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@fridge.errors.count, "error")} prohibited this fridge from being saved:"
      %ul
        - @fridge.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :photo
    = f.file_field :photo
  .actions
    = f.submit 'Save'
