-content_for :head do
  :javascript
    $(function(){
      $('#new_fridge').submit(function() {
        $('#loading').show().fixedCenter();
      });

      $('#facebook').hide();
      $('body').facebook('#{Facebook::CONFIG['app_id']}').bind('facebook.loggedIn', function(event, data) {
        $('#access_token').val(data.access_token);
        $('#post_to_facebook').attr('checked','checked')
        $('#facebook').show();
      });
    });


#loading
  =image_tag 'loading.gif'
  %p Uploading a picture of your fridge for you to share...

= form_for @fridge, :html => { :multipart => true } do |f|
  -if @fridge.errors.any?
    #errorExplanation
      %h3= "#{pluralize(@fridge.errors.count, "error")} prohibited this fridge from being saved:"
      %ul
        - @fridge.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :photo
    = f.file_field :photo

  #facebook.field
    = hidden_field_tag :access_token
    = check_box_tag :post_to_facebook, true
    =label_tag :post_to_facebook, 'Share my fridge on Facebook', :style => 'display: inline;'

  .actions
    = f.submit 'Upload'
