- content_for :head do
  :javascript
    $(window).load(function() {
      $("#fridge_photo")
        .annotateHandler({ target: '#note_details', ajax: true })
        .annotateImage({ editable: true });
    });

#fb-root
:javascript
  window.fbAsyncInit = function() {
    FB.init({
      appId  : '150522451651925',
      status : true, // check login status
      cookie : true, // enable cookies to allow the server to access the session
      xfbml  : true  // parse XFBML
    });
  };

  (function() {
    var e = document.createElement('script');
    e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
    e.async = true;
    document.getElementById('fb-root').appendChild(e);
  }());

.grid_8.alpha
  .photo
    =image_tag @fridge.photo.url(:large), :id => 'fridge_photo', 'data-id' => @fridge.id
  %h2 Talk about it!
  %fb:comments{ :numposts => 40, :width => 600}


.grid_4.omega
  %h2= @fridge.name
  %h4= "Added #{@fridge.created_at.to_date}"
  -if @fridge.description.present?
    %h4= "\"#{@fridge.description}\""
  %h4
    Link:
    =link_to fridge_url(@fridge), fridge_path(@fridge)
  %hr
    
  #sharethis
    %span.st_facebook
    %span.st_twitter
    %span.st_digg
    %span.st_gbuzz
    %span.st_email
    %span.st_sharethis
    =javascript_include_tag "http://w.sharethis.com/button/buttons.js"
    :javascript
      stLight.options({publisher:'18e86a1b-6dbc-4078-96af-195e89f92e22'})

  %h2 What&rsquo;s inside the fridge
  %a.image-annotate-add{:href => '#'} Add a note!
  #note_details

#footer.grid_12.clearfix
  &#169; 2010 PeepMyFridge
