- content_for :head do
  :javascript
    $(window).load(function() {
      $("#fridge_photo")
        .annotateHandler({ target: '#note_details', ajax: true })
        .annotateImage({ editable: true });
    });

#fb-root
:javascript
  window.fbAsyncInit = function() {
    FB.init({
      appId  : '#{Facebook::APP_ID}',
      status : true, // check login status
      cookie : true, // enable cookies to allow the server to access the session
      xfbml  : true  // parse XFBML
    });
  };

  (function() {
    var e = document.createElement('script');
    e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
    e.async = true;
    document.getElementById('fb-root').appendChild(e);
  }());


#nameband.grid_12
  .user_photo
    = image_tag profile_image_url(@fridge.user)
  %h2= "Fridge by #{@fridge.user.short_name}"
  %h4= "In #{location_for(@fridge)}  on  #{@fridge.created_at.to_date.to_s(:short)} | #{number_with_delimiter @fridge.view_count} views"
  #sharelink
    Share this fridge:
    = link_to fridge_key_url(@fridge.key, :host => 'frdg.us'), fridge_key_path(@fridge.key)
  #sharethis
    %span.st_facebook
    %span.st_twitter
    %span.st_digg
    %span.st_gbuzz
    %span.st_email
    %span.st_sharethis
    =javascript_include_tag "http://w.sharethis.com/button/buttons.js"
    :javascript
      stLight.options({publisher:'18e86a1b-6dbc-4078-96af-195e89f92e22'})

.grid_8

  .photo
    =image_tag @fridge.photo.url(:large), :id => 'fridge_photo', 'data-id' => @fridge.id

  %br{:clear => 'all'}

  %h2 Talk about it!
  %br{:clear => 'all'}
  %fb:comments{:numposts => 40, :width => 600}


.grid_4
  -#%p="\"#{@fridge.description}\"" if !@fridge.description.blank?

  -#if @fridge.owned_by? current_user
    %h3 What&rsquo;s inside your fridge?
    -#if @fridge.notes.empty?
      .image-annotate-add
        %p <a href='#'>Add a note</a> to highlight stuff inside your fridge!
        %p.italic What&rsquo;s that on the top shelf?
    -#else
      %a.image-annotate-add{:href => '#'} Add a note!
  -#elsif !@fridge.notes.empty?
    %h3 What&rsquo;s inside the fridge

  #note_details
