:javascript
  $(window).load(function() {
    $("#fridge_photo")
      .annotateHandler({ target: '#note_details' })
      .annotateImage({ editable: true, notes: [] });
  });

.grid_8.alpha
  .photo
    =image_tag @fridge.photo.url(:large), :id => 'fridge_photo'


.grid_4.omega
  %h2= @fridge.name
  %h4= "Added #{@fridge.created_at.to_date}"
  %h4= "\"#{@fridge.description}\""

  %h2 What&rsquo;s inside the fridge
  #note_details

#footer.grid_12.clearfix
  &#169; 2010 PeepMyFridge
