- content_for :head do
  :javascript
    $(window).load(function() {
      $("#fridge_photo")
        .annotateHandler({ target: '#note_details', ajax: true })
        .annotateImage({ editable: true });
    });

.grid_8.alpha
  .photo
    =image_tag @fridge.photo.url(:large), :id => 'fridge_photo', 'data-id' => @fridge.id


.grid_4.omega
  %h2= @fridge.name
  %h4= "Added #{@fridge.created_at.to_date}"
  %h4= "\"#{@fridge.description}\""

  %h2 What&rsquo;s inside the fridge
  %a.image-annotate-add{:href => '#'} Add a note!
  #note_details

#footer.grid_12.clearfix
  &#169; 2010 PeepMyFridge
