.grid_12.alpha.omega

  %p 
    %em Why do I need to connect to Facebook?
    
  %p First of all, you don&rsquo;t have to post anything to your Facebook feed in order to user CheckOutMyFridge.
  %ul
    %li &hellip; When you upload your fridge, we'll show your name, photo, and city next to the picture of your fridge.
    %li 
      %em Instead of asking you to fill out a new profile, we&rsquo;ll just use the name, photo and city from your Facebook profile.
    %br 
    %li &hellip; Then only you will be able to add notes to the picture of your fridge.  
    %li 
      %em Instead of asking you to create a new username and password, we&rsquo;ll know it&rsquo;s you based on your Facebook account.
  

  = link_to "Connect to Facebook", user_oauth_authorize_url(:facebook)

  - if ENV['DATABASE_AUTHENTICATABLE']
    %p or sign in locally (in development):

    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      .field
        = f.label :email
        = f.email_field :email

      .field
        = f.label :password
        = f.password_field :password

      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me, :checked => 'checked'
          = f.label :remember_me, :style => 'display:inline'

      = f.submit "Sign in"
