!!!
%html{'xmlns'=>"http://www.w3.org/1999/xhtml",'xmlns:og'=>"http://opengraphprotocol.org/schema/",'xmlns:fb'=>"http://www.facebook.com/2008/fbml"}
  %head
    %title Check Out My Fridge!
    %meta{:name => 'description', :content => 'Check Out My Fridge is the place to show off your best practices, favorite foods, and kitchen secrets… because you are what you refrigerate.'}
    = favicon_link_tag
    = stylesheet_link_tag 'http://yui.yahooapis.com/2.8.1/build/reset/reset-min.css'
    = stylesheet_link_tag %w(text 960 annotation screen)
    = javascript_include_tag :defaults
    = javascript_include_tag %w(jquery.annotate jquery.annotate_handler jquery.fixedcenter jquery.facebook)
    = csrf_meta_tag
    = yield :head
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18942161-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    #background
      #page.container_12.clearfix

        #feedback
          %a{:href => "javascript:void(0)", :onclick => "window.open('https://spreadsheets.google.com/viewform?formkey=dHdoZ2Rlb0V3elJJSldPZUpuRDE1aFE6MQ', 'CheckOutMyFridge Feedback','width=650,height=650')"}
            = image_tag('feedback.png')

        #header.clearfix
          .grid_8
            %h1.clearfix
              %a.no_underline{:href => root_path}
                %span.check Check
                %span.out Out
                %span.my My
                %span.fridge Fridge!
            %h3 You are what you refrigerate. Discuss.

          .grid_4
            %h5.whats What's in your fridge?
            %br{:clear => 'all'}

            #upload
              %h4= link_to "Upload a photo", new_fridge_path
              or email one (from your phone) <br>to <em>new@frdg.us</em>
          -#
          -#.grid_2
          -#  %h5.whats ...what about
          -#  %br{:clear => 'all'}
          -#  %h5.whats your friends'?
          -#  %br{:clear => 'all'}
          -#
          -#  #upload
          -#    %h4= link_to "Ask friends to see their fridges", "#"

        #nav_bar
          .grid_8
            = "#{Fridge.count} fridge pics | "
            =  link_to "see another one »", any_fridges_path
          .grid_4
            A place to talk about food and kitchen life.

        #main_content

          -if notice || alert
            #flash.grid_12
              .notice= notice
              .alert= alert

          = yield

        -if !user_signed_in?
          #promo_bar
            People want to know: what&rsquo;s in <em>your</em> fridge?  
            %br
            Take a picture with your phone and send it to <em>new@frdg.us</em> &hellip; or
            = link_to "upload a picture here", new_fridge_path
              
        #footer.grid_12
          &#169; 2010 CheckOutMyFridge
          |
          =link_to "About Us", about_path
          |
          -if user_signed_in?
            ="Logged in as #{current_user.full_name} | "
            ="Your #{link_to pluralize(current_user.fridges.count, 'fridge'), user_fridges_path(current_user)} |".html_safe if !current_user.fridges.empty?
            =link_to "Sign out", destroy_user_session_path
          -else
            - if ENV['DATABASE_AUTHENTICATABLE']
              = link_to "Sign in", new_user_session_path
            - else
              = link_to "Sign in with Facebook", user_oauth_authorize_url(:facebook)