!!!
%html
  %head
    %title Peep My Fridge!
    = stylesheet_link_tag 'http://yui.yahooapis.com/2.8.1/build/reset/reset-min.css'
    = stylesheet_link_tag %w(text 960 annotation screen)
    = javascript_include_tag :defaults
    = javascript_include_tag %w(jquery.annotate jquery.annotate_handler)
    = csrf_meta_tag
    = yield :head
  %body.container_12
  .header.clearfix
    .grid_8.alpha
      %h1.clearfix
        %span.peep Peep
        %span.my My
        %span.fridge Fridge!
      %h3 You are what you refrigerate.

    .grid_4.omega
      %h5.whats What's in your fridge?
      %br{:clear => 'all'}

      #upload
        %h4= link_to "Upload a photo", new_fridge_path
        or email one to <em>new@pmyf.us</em>

  #nav_bar.grid_12 1,247 fridge pics | <a href="#">see another one &#187;</a>

  = yield
